/.vs
/FootStone.Grains/bin
/FootStone.Grains/obj
/FootStone.GrainInterfaces/obj
/FootStone.GrainInterfaces/bin
/FootStone.GameServer/bin
/FootStone.GameServer/obj
/FootStone.FrontServer/bin
/FootStone.FrontServer/obj
/packages
/output
/FootStone.client/obj
/FootStone.Core.Client/obj
/FootStone.Core.Client/bin
/FootStone.Core.GameServer/obj
/FootStone.Core.GameServer/bin
/publish
/FootStone.Core.Grains/obj
/FootStone.Core.Grains/bin
/FootStone.Core.GrainInterfaces/obj
/FootStone.Core.GrainInterfaces/bin
/FootStone.Core.Client/Properties/PublishProfiles/*.pubxml
/FootStone.Core.Client/Properties/PublishProfiles/*.user
/FootStone.Core.GameServer/Properties/PublishProfiles/*.pubxml
/FootStone.Core.GameServer/Properties/PublishProfiles/*.user
/FootStone.Core.FrontIce/obj
/FootStone.Core.FrontIce/bin
/FootStone.Core.FrontServer/bin
/FootStone.Core.FrontServer/obj
/samples/FootStone.Core.Client/obj
obj
packages
output

